html, body{
    background: black;
    color:white;
    scroll-behavior:smooth;
    font-Family:'Roboto', sans-serif !important;
}
.p {
    color: white;
}

*{
    font-Family:'Roboto', sans-serif !important;
}
button.lite{
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.75em 1.5em;
    border-radius: 99px;

}

.link{
    color: white;
    text-decoration: none;
}

#texture {
    margin: 5%;
   // background-color: black;
   background-color: #f2f7f4;
   background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
   /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}